<div class="wrapper-page">
  <div class="wrapper-page__content">
    <div class="wrapper-side-page">
      <p class="wrapper-page__facebook">facebook</p>
      <p></p>
      <p>Facebook helps you connect and share with the people in your life</p>
    </div>
    <div class="login-page">
      <form class="example-form" [formGroup]="createAccount">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Ex. pat@example.com"
            />

            <!-- <mat-error
              *ngIf="
                getEmailControl().hasError('email') &&
                !getEmailControl().hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>

            <mat-error *ngIf="getEmailControl().hasError('required')">
              Email is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Ex.
    pat@example.com"
            />

            <!-- <mat-error
              *ngIf="
                getPasswordControl().hasError('email') &&
                !getPasswordControl().hasError('required')
              "
            >
              Please enter a valid password
            </mat-error>

            <mat-error *ngIf="getPasswordControl().hasError('required')">
              password is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </form>

      <div>
        <button
          class="login-button"
          mat-raised-button
          color="primary"
          (click)="loginUser()"
        >
          Login
        </button>
      </div>
      <div>
        <button
          class="create-account"
          mat-button
          color="primary"
          (click)="openCreateAccountModal()"
        >
          createAccount
        </button>
      </div>
    </div>
  </div>
</div>
