<div class="full-height-width welcome-wrapper">
  <div>
    <h1 class="header-bar">Books Adda</h1>
    <form class="example-form" [formGroup]="searchBar">
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          formControlName="stateName"
          [matAutocomplete]="stateAuto"
        />
        <mat-autocomplete autoActiveFirstOption #stateAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
    </form>
  </div>
  <div class="welcome-content">
    <h2>About Us</h2>
    <p>
      Here you can purchase your stationary item in low cost .Dont worry about
      price
    </p>
    <button>Learn More</button>
  </div>
  <div class="welcome-container">
    <ng-container *ngFor="let card of welcomeCards">
      <div [ngClass]="{ 'margin-top-3': card.id !== 'branding' }">
        <div *ngIf="card.id === 'branding'" class="most-popular">
          Most Popular
        </div>
        <div class="grid-item">
          <p class="paragraph-bar">{{ card.heading }}</p>
          <p *ngFor="let feature of card.features">{{ feature }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
